@media only screen and (max-width: 375px) {
    .head{
        flex-direction: column;
    }
    .barra{
        flex-direction: column;
        justify-content: center;
    }
    .texthero{
        display: none;
    }
    .menu{
        justify-content: center;
        max-width: 375px;
        width: 100%;
        grid-template: repeat(5, auto) / auto;
        padding: 0;
        margin: 0;
    }
    .menu a{
        max-width: 375px;
        width: 100%;
        padding: 10px;
        padding-right: 0;
        margin-right: 0;
        border: 2px black solid;
    }
    .empresas{
        grid-template: repeat(4, auto) / auto;
        justify-content: center;
    }
    .servicio{
        justify-content: center;
    }
    .servicios{
        grid-template: repeat(3, auto) / auto;
    }
    .promociones{
        grid-template: repeat(3, auto) / auto;
    }
    .promociones figure img{
        width: 100%;
        height: 200px;
    }
    .fecha{
        background-color: #1d8ef6;
        width: 100px;
        padding: 2px;
        text-align: center;
        color: #f0f3f8;
        border-radius: 3px;
        position: absolute;
        top: 52%;
        left: 35%;
    }
    .instalaciones{
        grid-template: repeat(4, auto) / auto;
    }
}