@media only screen and (max-width: 375px) {
    .head{
        flex-direction: column;
    }
    .barra{
        flex-direction: column;
        justify-content: center;
    }
    .menu{
        max-width: 375px;
        width: 100%;
        grid-template: repeat(5, auto) / auto;
        padding: 0;
        margin: 0;
    }
    .menu a{
        max-width: 375px;
        width: 100%;
        padding: 10px;
        border: 2px black solid;
    }
    .empresas{
        grid-template: repeat(4, auto) / auto;
        justify-content: center;
    }
    .servicio{
        justify-content: center;
    }
    .servicios{
        grid-template: repeat(3, auto) / auto;
    }
    .promociones{
        grid-template: repeat(3, auto) / auto;
    }
}